.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}


.listheroi{
    width: 100%;
    max-width: 930px;
    margin: 50 auto;
    padding: 200px 30px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.lisheroi article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    margin: 15px;
    padding: 15px; 
    border-radius: 5px;
}
.lisheroi article a{
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    background-color: brown;
    width: 100%;
    height: 40px;
    margin-top: -30px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;  
}

.listheroi strong{
    padding-bottom: 15px;
    font-size: 40px;
    color: rgb(177, 13, 13);
}

img{
    max-height: 350px;
    width: 200px;  
  }

